*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #d9f9fc;
}
.header{
    background-color: white;
    box-shadow: 0 0 2px grey;
    position: sticky;
    top: 0%;
    z-index: 5;
}
.nav1{
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    margin: auto;
    background-color: #E1F5FE;
    width: auto;
    justify-content: space-between;
}
.nav1 img{
    width: 100px;
    margin-left: 20px;
}

.filter i{
    font-size: 15px;
    transition: all 0.3s;
}
.filter{
    width: 100%;
    height : 45px;
    padding : 10px 10px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    margin-left: 40px;
}
.filter p{
    padding-right: 75px;
    font-size: 14px;
    color: rgb(85, 84, 84);
}
.option{
    display: flex;
    padding: 10px;
    width: 250px;
    cursor: pointer;
}
.option:hover{
      background-color: #c7dcff;
}
.option p{
    margin-left: 10px;
    color: #444444;
}
.option i{
    color: #839a9c;
}
.option_box{
    box-shadow: 0 0 10px grey;
    background-color: white; 
    display: none;
    position: absolute;
    top: 100px;
    position: absolute;
    top: 60px;
}
.hide{
    display:block;
}
.rotate{
    transform: rotate(180deg);
}
#search{
    display: flex;
    /* width: 350px;
    height:48px; */
    margin-left: 60px;
}
#search i{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 25px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    
}
#search-inp{
    padding: 10px;
    width: 340px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px 0px 0px 5px;
}
#eng_tag{
    cursor: pointer;
    font-size: 18px;
   margin-left: 25px;
}
.hin_eng{
    background-color: white;
    box-shadow: 0 0 10px grey;
    width: 180px;
    display: none;
    position: absolute;
    top: 60px;
   
}
.hin_eng li{
    list-style: none;
    padding: 10px 20px;
    margin-top: 10px;
}
.hin_eng li:hover{
    background-color: #c7dcff;
}
.rotate1{
    transform: rotate(180deg);
}
.lang1{
    display: flex;
}
.lang1 i{
    margin-top: 5px;
    padding-left: 10px; 
    transition: all 0.4s;
}
.display_lang{
    display: block;
}
.message i{
    font-size: 22px;
    color: black;
    cursor: pointer;
   margin-left: 25px;
}
.notification i{
    font-size: 22px;
    color: black;
    cursor: pointer;
   margin-left: 25px;
}
.avatar{
    display:flex;
}
.avatar i{
    margin-top: 25px;
    padding-left: 10px;
    
}
.avatar img{
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 25px;
}
.name_img img{
    width: 90px;
    border-radius: 50%;
}
.name_img p{
    font-size: 18px;
    font-weight: bold;
}
.name_img{
    display:flex;
    align-items: center;
    margin:10px 0px 20px 0px;
}
.dropdown{
    width: 280px;
    margin-left: -180px;
    box-shadow: 0 0 10px grey;
    padding: 15px;
    background-color: white;
    display:none;
    position: absolute;
    top: 60px;
}
.dropdown ul li{
    display: flex;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
}
.dropdown ul li:hover{
    background-color: #c7dcff;
}
.dropdown ul{
    margin-top: 20px;
}
.dropdown ul li{
    color: black;
    font-size: 17px;
}
.dropdown ul li p{
    margin-left: 20px;
    font-size: 16px;
    color: rgb(85, 84, 84);
}
.block{
    display: block;
}
.sell button{
    width: 90px;
    height: 40px;
    border-style: solid;
    border-width: 5px;
    border-top-color: #23e5db;
    border-left-color: #ffce32;
    border-right-color: #3a77ff;
    border-bottom-color: #3a77ff;
    font-size: 15px;
    background-color: white;
    color:black;
    border-radius: 25px;
    margin-left: 20px;
}


       /* -------------------ad-img-------------------------- */
.ad_img img{
    width: 100%;
    position: relative;
    z-index: -1;
}  
.ad_img{
    /* border: 1px solid red; */
    width: 70%;
    /* height: 200px; */
    margin: auto;
    margin-top: 40px;
    position: relative;
}    
.ad_img i{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1;
    cursor: pointer;
}

          /* -------------------Product-img-------------------------- */
.product_img{
    width: 90%;
    display:flex;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    /* background-color: #23e5db; */
    height: 450px;
}
.image_description{
    width: 65%;
    background-color: black;
    border-radius: 5px;
}
.swiper-slide img{
    width: 50%;
    height: 450px;
    margin-left: 180px;
}
#prev{
    color: white;
}
#next{
    color: white;
}
.description{
    width: auto;
    background-color: white; 
    border: 1px solid rgb(179,178,178);
    border-radius: 5px;
    padding: 15px;
}
.description p{
    font-size: 14px;
    padding-top: 15px;
}
         /* -------------------------product_detail-------------------- */
.product_details{
    /* border: 2px solid red; */
    width: 105%;
}
.box1{
    /* border: 2px solid yellow; */
    border: 1px solid rgb(179,178,178);
    background-color: white;
    border-radius: 5px;
    padding-left: 15px;
    margin-left: 15px;
    width: auto;
}
.price{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.price i{
    padding-right: 10px;
}
#II{
    padding-left: 170px;
}
.box1 p{
    font-size: 14px;
    padding-top: 10px;
    color: grey;
}
#loc{
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 0;
}
#loc>p{
    font-size: 12px;
}

     /* ------------------------------box2----------------------------- */

.seller_details{
    display: flex;
}
.seller_details img{
    width: 80px;
    border-radius: 50%;
    margin-top: 15px;
}
.seller_details h3{
    margin: 30px 0 0 10px;
    color:rgb(80, 58, 58);
}
#a{
    padding: 10px 110px;
    border: 2px solid black;
    transition: all 0s;
    border-radius: 5px;
    margin-top : 15px;
}
#a>a{
    text-decoration: none;
    color: black;
}
#a:hover{
    border: 4px solid black;
    background-color: #d4d8d8;
}
#box2{
    height: 170px;
    margin-top: 10px;
}
      /* ------------------------------box3----------------------------- */

#box3{
    margin-top: 10px;
}
#box3 h3{
    padding: 15px 15px 10px 15px;
}
#box3 p{
    padding-left: 15px;
    font-size: 12px;
}
#box3 img{
    width: 100%;
    padding: 15px;
}

